<div [formGroup]="checkoutForm" class="mt-4">
    <h4 class="mb-3">Choose Your Delivery Method</h4>
    <div formGroupName="deliveryForm" class="row ml-5">
        <div class="col-6 form-group" *ngFor="let method of deliveryMethods" >
                <input (click)="setShippingPrice(method)" 
                id={{method.id}} 
                value={{method.id}} 
                formControlName="deliveryMethod"
                class="custom-control-input"
                 type="radio">
                
                 <label class="custom-control-label" for="{{method.id}}">
                     <strong>{{method.shortName}} - {{method.price | currency}}</strong>
                     <br>
                     <span class="label-description">{{method.description}}</span>
                 </label>
        </div>
    </div>
</div>

<div class="float-none d-flex-justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        Go to Review <i class="fa fa-angle-right"></i> 
    </button>
</div>
